.Intro{
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}
.imagem{
    padding-right:51.7px ;
}
.texto-info{
    width: 447px;
    height: 351px;
    padding-left: 20px;
 
}
.TextoPrincipal{
    position: relative;
font-weight: bold;

}
.TextoPrincipal p{
    position: relative;
    z-index:1;
    
}

.texto-info .texto{
    font-size: 28px;
    font-family: "Fira Sans", sans-serif;
    font-style: italic;

}
.texto-info .titulo{
    font-size: 50px;
    line-height: 50px;
   
}
.texto-info .texto-loc{
    color: #2E2E2E;
   line-height: 5cqw;
}
.texto-info .Deco{
    width: 60px;
    position: absolute;
    top: -15px;
    left: -18px;

}
.texto-info .Deco2{
    position: absolute;
    width: 60px;
    top: 96px;
    right: 213px;

}
.texto-info .Deco,.Deco2{
    opacity: 0.9;

}
