.Experiencia{
    width: 95vw;
    display: flex;
}
h3{
    color: #D0D0D0;
    line-height: 1px;
    font-size: 70px;
    letter-spacing: 10%;
}
.EXP-BANER-TAMANHO{
    width: 360px;
    display: flex;
    padding-top: 150px;
    height: 500px;
    margin: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.EU-text{
    width: 64vw;
    height: auto;
    padding-top: 120px;

}.EU-text p{
    font-size: 27px;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    color: #404040;
    line-height: 35px;
}
.EU-text p span{
    font-weight: bold;
    color: #1A1A1A;
}
.Cointeiner{
width: 64vw;
height: auto;
display: flex;
background-color: #CCCCCC;
margin-bottom: 25px;
border-radius: 5px;
padding: 10px 20px;
}
.Exp-info{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}
.card-info .usado{
    height: auto;
    width: 90px;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #ffff;
    padding: 9px 6px;
    border-radius: 6px;
}
.card-2 h2{
    text-align: center;
    font-family: "Fira Sans", sans-serif;
}
.card p{
    font-size: 20px;
    line-height: 30px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}
.projet{
    text-decoration: none;
    color: #1A1A1A;
}
.projet:hover{
    color: #0c180d;
}

.efeito{
    text-decoration: none;
    
}
.efeito span{
    position: relative;
}
.efeito span::before{
    content: "";
    color: #1A1A1A;
    animation: palavras 20s infinite;
}
.efeito span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #0c180d;
    right: -10px;
    opacity: 1;
    animation: curso .8s infinite, digitar 20s steps(115) infinite ;
    width: calc(100% + 18px);
    background-color: #CCCCCC;
}
@keyframes digitar {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25% , 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 18px);

    }
    
}
@keyframes palavras {
    0%,40%{
        content: "Ja viu os projeto?";
    }
    41%,80%{
        content: "hum Parece que não ⑆";
    }
    81%,100%{
        content: "veja agora mesmo.";
    }
    
}
@keyframes curso {
    0%{
        border-left: 2px solid #CCCCCC;
    }
    
}
.efeito p{
    display: none;
    text-decoration: none;
    color: #1A1A1A;
}

@media screen and (max-width: 824px) {

    .EXP-BANER-TAMANHO{
        display: none;
    }
    .efeito{
        animation: none;
    }
    .efeito span::before{
        animation: none;
    }
    .efeito span::after{
        animation: none;
    }
    .efeito p{
       display: block;
        text-decoration: none;
        color: #1A1A1A;
    }
    
    
}
